#ulContatos{
    list-style-type: none;
    width: 100%;
    padding-left: 0;
    margin-left: 2rem;
}
#liHead{
    display: flex;
}
#spanIndex{
    width: 3%;
}
#spanPessoa{
    width: 30%;
    text-align: start;

}
#spanEmail{
    width: 20%;
    text-align: start;

}
#spanData{
    width: 12%;
}
#spanAcoes{
    width: 35%;
}